<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        {{! Title }}
        <title>{{#if isHome}}Matt McElwee{{else}}{{title}} • Matt McElwee{{/if}}</title>
        <meta name="title" content="{{#if isHome}}Matt McElwee{{else}}{{title}}{{/if}}">
        <meta name="citation_title" content="{{#if isHome}}Matt McElwee{{else}}{{title}}{{/if}}">
        <meta name="og:title" content="{{#if isHome}}Matt McElwee{{else}}{{title}} • Matt McElwee{{/if}}">
        <meta name="twitter:title" content="{{#if isHome}}Matt McElwee{{else}}{{title}} • Matt McElwee{{/if}}">
        {{! Creator }}
        <meta name="generator" content="https://github.com/Renddslow/mattmcelwee.com/build">
        <meta name="creator" content="mattmcelwee.com">
        <meta name="contact" content="https://mattmcelwee.com/links#contact">
        <meta name="author" content="{{params.author}}">
        <meta name="citation_author" content="{{params.author}}">
        <link rel="index" title="Matt McElwee" href="https://mattmcelwee.com/">
        {{! Social }}
        <meta name="twitter:creator" content="renddslow">
        <meta name="twitter:site" content="mattmcelwee.com">
        <meta name="og:site" content="mattmcelwee.com">
        <meta name="og:type" content="article">
        {{! Description }}
        {{#if params.summary}}
        <meta name="description" content="{{params.summary}}">
        <meta name="og:description" content="{{params.summary}}">
        <meta property="twitter:description" content="{{params.summary}}">
        {{/if}}
        {{! Image }}
        <meta property="og:image" content="https://mattmcelwee.com{{thumbnail}}">
        <meta property="og:image:alt" content="{{thumbnailAlt}}">
        <meta property="twitter:image" content="https://mattmcelwee.com{{thumbnail}}">
        {{! Dates }}
        <meta name="dc.date.issued" content="{{format params.created "yyyy-MM-dd"}}">
        <meta name="citation_publication_date" content="{{format params.created "yyyy/MM/dd"}}">
        <meta name="dcterms.modified" content="{{format params.lastTended.when "yyyy-MM-dd"}}">
        <link rel="schema.dcterms" href="https://dublincore.org/specifications/dublin-core/dcmi-terms/">
        {{! Rights }}
        {{! TODO: review rights }}
        <meta name="dcterms.rights" content="CC BY-NC-SA 2.0">
        <meta name="dc.rights" content="https://creativecommons.org/licenses/by-nc-sa/2.0/">
        {{! Links }}
        <link rel="canonical" href="https://mattmcelwee.com/links{{relPermalink}}">
        <meta name="citation_fulltext_html_url" content="https://mattmcelwee.com{{relPermalink}}">
        <meta property="twitter:url" content="https://mattmcelwee.com{{relPermalink}}">
        <meta property="og:url" content="https://mattmcelwee.com{{relPermalink}}">
        {{! Misc }}
        <meta name="keywords" content="{{tagsStr}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="color-scheme" content="light dark">
        {{{inlineCSS}}}
    </head>
    <body>
        <main>
            <header>
                <nav>
                    <a id="logo" href="/" title="Home • Matt McElwee">
                        <span role="img" aria-label="A flower pot">🪴</span>
                    </a>
                    <ul>
                        <li><a href="/about" {{#if (eq relPermalink "/about")}}class="active"{{/if}}>About</a></li>
                        <li><a href="/readings" {{#if (eq relPermalink "/readings")}}class="active"{{/if}}>Reading</a></li>
                        <li><a href="/contact" {{#if (eq relPermalink "/contact")}}class="active"{{/if}}>Contact</a></li>
                        <li><a href="/changelog" {{#if (eq relPermalink "/changelog")}}class="active"{{/if}}>Changes</a></li>
                    </ul>
                </nav>
            </header>
            <article>
                <header>
                    <h1>{{title}}</h1>
                    {{#if params.summary}}<p><em>{{params.summary}}</em></p>{{/if}}
                </header>
                {{#if (or isHome isDirectory)}}{{else}}
                <div class="tending">
                    <p>Originally drafted {{format params.created "MMMM d, yyyy"}}{{#if (neq params.lastTended.when params.created)}} and last tended {{format params.lastTended.when "MMMM d, yyyy"}}{{/if}} by {{params.author}}. <br/>(<a href="https://github.com/Renddslow/mattmcelwee.com/commits/main/{{filepath}}">See Revision History</a>).</p>
                </div>
                {{#with params.metaKnowledge}}
                <div class="meta-knowledge">
                    <ul>
                        {{#if accuracy}}
                        <li>
                            <span class="name"><a href="/meta/accuracy">Accuracy:</a></span>
                            {{{markdownify accuracy}}}
                        </li>
                        {{/if}}
                        {{#if certainty}}
                        <li>
                            <span class="name"><a href="/meta/certainty">Certainty:</a></span>
                            {{{markdownify certainty}}}
                        </li>
                        {{/if}}
                        {{#if completeness}}
                        <li>
                            <span class="name"><a href="/meta/completeness">Completeness:</a></span>
                            {{{markdownify completeness}}}
                        </li>
                        {{/if}}
                        {{#if effort}}
                        <li>
                            <span class="name"><a href="/meta/mental-effort">Mental Effort:</a></span>
                            {{{markdownify effort}}}
                        </li>
                        {{/if}}
                        {{#if preRequisites}}
                        <li>
                            <span class="name"><a href="/meta/pre-requisites">Pre-Requisites:</a></span>
                            {{{markdownify preRequisites}}}
                        </li>
                        {{/if}}
                    </ul>
                </div>
                {{/with}}
                {{/if}}
                <div class="markdown">
                {{{content}}}
                </div>
                {{#if (get site.data.backlinks relPermalink)}}
                <div class="backlinks">
                    <h2>Pages Linking to this Page</h2>
                    <ul>
                    {{#each (get site.data.backlinks relPermalink)}}
                        <li>{{{linkify (call ../$.getPage this)}}}</li>
                    {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{! TODO external links }}
            </article>
            <footer>
            <p>CC BY-NC-SA 2.0</p><p><em>The postings on this site are my own and do not necessarily reflect the views of <a href="https://bibleproject.com/" target="_blank">BibleProject</a>.</em></footer>
            {{{linkedCSS}}}
            <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
            <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""/></noscript>
        </main>
    </body>
</html>
